.hnj__text--logo  {
		padding: 18px 0;
		font-size: 40px;
		margin: 0;
}
.hnj__list {
	list-style-image: url('http://mt-st.rfclipart.com/image/small/ce-f8-a1/beer-bottle-cap-with-glass-of-beer-Download-Royalty-free-Vector-File-EPS-18836.jpg');
	li {
		padding: 10px;
		background-color: $vanilla;
	}
	li:nth-child(2n){
		background-color: $green-tea;
	}
	li a {
		color: $strong-coffee;
	}
}

