/////////////////
///
/// Colors & Fonts
///
////////////////


$main-color: #333;
$secondary-color: #dbdbdb;
$logo-color: #fff;
$coffee-color: #297A1F;
$beer-color: #7A501F;
$font: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
$font-size-large: 46px;
$font-size-medium: 24px;
$font-size-small: 12px;
$dummy-height: 800px;

$vanilla: #FCFBE3;
$capp: #8E5B3E;
$strong-coffee: #674941;
$light-coffee: #BEA586;
$green-tea: #C4C779;

//////////////////
////
////	BEER COLORS
////
//////////////////


$b1: #FEE799;
$b2: #FDD978;
$b3: #FDCB5A;
$b4: #FCC143;
$b5: #F7B324;
$b6: #F5A800;
$b7: #EE9E00;
$b8: #E69100;
$b9: #E38901;
$b10: #DA7E01;

$b11: #D37400;
$b12: #CB6C00;
$b13: #C66401;
$b14: #BF5C01;
$b15: #B65300;
$b16: #B04F00;
$b17: #AC4701;
$b18: #9E3E02;
$b19: #9C3900;
$b20: #963500;
$b21: #912F00;
$b22: #882D01;

$b23: #832501;
$b24: #7E1F01;
$b25: #771C01;
$b26: #721B00;
$b27: #6C1501;
$b28: #670F01;
$b29: #620F01;
$b30: #5B0D01;
$b31: #560C03;
$b32: #5D0A02;
$b33: #500A08;

$b34: #4A0605;
$b35: #440706;
$b36: #420807;
$b37: #3C0908;
$b38: #390708;
$b39: #39080B;
$b40: #35090A;


/////////////////
///
/// Breakpoints
///
////////////////
$tablet-breakpoint: 780px;
$mobile-breakpoint: 400px;