.header--main {
	background-color: $vanilla;
	color: $strong-coffee;
	text-align: center;
}

.nav--main {
	padding: 10px;
	background-color: $capp;
	color: $vanilla;
}

.input-group {
  margin: 10px 0;
}
.vanilla {
  margin: 10px 0;
}
