<p id="notice"><%= notice %></p>
<img class='beer__image' height='200' width='200' src='http://img1.wikia.nocookie.net/__cb20140409232122/simpsons/images/0/03/Duff_logo.gif'/>
<div><u>Name:</u> <span class='beer__name'></span></div><br>
<div><u>Brewery:</u> <span><a href='' class='beer__brewery'></a></span></div><br>
<div><u>Style:</u> <span class='beer__style'></span></div><br>
<div><u>Description:</u> <span class='beer__description'></span></div>
<br>
<%= link_to 'Back', beers_path %>
