<p id="notice"><%= notice %></p>
<h1 class='brewery__name'></h1>
<br>
<h4><%= link_to 'HOME', home_path %></h4>
<h2>All <span class='brewery__name'></span> beers</h2>
<div class='beer__list'></div>
<br>
<h4><%= link_to 'HOME', home_path %> | <%= link_to 'BACK', breweries_path %></h4>
